* {
  font-family: "Roboto";
}

body {
  margin: auto;
}

header {
  text-align: center;
  padding: 20px;
}
header img {
  width: 50%;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
footer img {
  filter: invert(100%);
  width: 80px;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
footer li {
  padding: 5px 0;
}
footer i {
  padding-right: 10px;
  width: 10px;
  font-size: 10px;
  text-align: center;
}

.localisation {
  background-color: #e9e9e9;
  text-align: center;
  padding: 20px;
}
.localisation input {
  outline: none;
  border: none;
  background-color: #e9e9e9;
}
.localisation i {
  padding-right: 10px;
}

.exploration {
  background-color: #F6F6F6;
  text-align: center;
  padding: 20px;
}
.exploration h1 {
  margin: 0;
}
.exploration button {
  background: radial-gradient(ellipse at top left, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: bold;
}

.functioning {
  padding: 20px;
}
.functioning nav {
  display: flex;
  flex-direction: column;
}
.functioning nav button {
  background-color: #F6F6F6;
  padding: 30px;
  margin: 15px 0;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px rgba(242, 242, 242, 0.75);
}
.functioning nav button:hover {
  background: rgba(147, 86, 220, 0.2);
}
.functioning nav i {
  font-size: 16px;
  color: #777777;
}
.functioning nav i:hover {
  color: #9356DC;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 20px;
}
.restaurant img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurant .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 30vh;
  min-height: 250px;
}
.restaurant .card-content {
  background-color: white;
  border-radius: 0 0 20px 20px;
  line-height: 50%;
  padding-left: 10px;
  position: relative;
  height: 30%;
  vertical-align: center;
}
.restaurant .card-content p {
  font-size: large;
}
.restaurant .card-content #heart {
  opacity: 0;
}
.restaurant .card-content #heart + label {
  font-size: 24px;
  position: absolute;
  right: 5%;
  bottom: 45%;
}
.restaurant .card-content #heart:checked + label {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 900;
  color: #FF79DA;
  color: radien;
}
.restaurant .card .label {
  background-color: #99E2D0;
  color: #32b091;
  font-weight: bold;
  position: absolute;
  right: 3%;
  top: 5%;
  padding: 10px 15px;
}
