* {
  font-family: "Roboto";
}

body {
  margin: auto;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}
header img {
  width: 65%;
  max-width: 600px;
}
header button, header a {
  font-size: 24px;
  border: none;
  background-color: white;
  position: absolute;
  left: 3%;
  color: black;
}

footer {
  background-color: #353535;
  color: white;
  padding: 20px;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    justify-content: space-between;
  }
}
footer img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(17deg) brightness(103%) contrast(105%);
  width: 80px;
}
@media (min-width: 768px) {
  footer img {
    order: 0;
    width: 300px;
  }
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
@media (min-width: 768px) {
  footer ul {
    order: 1;
    margin-right: 50px;
  }
}
footer li {
  padding: 5px 0;
}
footer li a {
  color: white;
  text-decoration: none;
}
footer i {
  padding-right: 10px;
  width: 10px;
  font-size: 10px;
  text-align: center;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes loader-background {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  75% {
    opacity: 0;
  }
}
@keyframes appear {
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.localisation {
  background-color: #e9e9e9;
  text-align: center;
  padding: 20px;
}
.localisation input {
  outline: none;
  border: none;
  background-color: inherit;
}
.localisation i {
  padding-right: 10px;
}

.exploration {
  background-color: #F6F6F6;
  text-align: center;
  padding: 20px;
}
.exploration h1 {
  margin: 0;
}
.exploration button {
  background: radial-gradient(ellipse at top left, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: bold;
}

.functioning {
  padding: 20px;
}
.functioning nav {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .functioning nav {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .functioning nav {
    padding-left: 0;
  }
}
.functioning nav button {
  background-color: #F6F6F6;
  padding: 10px 0px;
  margin: 15px 0;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 5px #f2f2f2;
  display: flex;
  align-items: center;
  transition-duration: 0.5s;
}
@media (min-width: 768px) {
  .functioning nav button {
    width: 28vw;
  }
}
@media (min-width: 992px) {
  .functioning nav button {
    flex-direction: column;
  }
}
.functioning nav button:hover {
  background: rgba(147, 86, 220, 0.2);
}
.functioning nav button:hover > i {
  color: #9356DC;
}
.functioning nav button i {
  font-size: 16px;
  color: #777777;
  padding: 10px;
  width: 30px;
}
@media (min-width: 992px) {
  .functioning nav button i {
    font-size: 32px;
  }
}
.functioning nav button span {
  position: relative;
  left: -15px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 8px;
  width: 10px;
  height: 10px;
  color: white;
  text-align: center;
  vertical-align: middle;
}
@media (min-width: 992px) {
  .functioning nav button span {
    left: 0;
    top: -30px;
  }
}
.functioning nav button p {
  flex-grow: 1;
  text-align: left;
}

.restaurant {
  background-color: #F6F6F6;
  padding: 20px;
}
@media (min-width: 768px) {
  .restaurant .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurant img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}
.restaurant .card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  margin-bottom: 20px;
  position: relative;
  height: 30vh;
  min-height: 250px;
}
@media (min-width: 768px) {
  .restaurant .card {
    width: 45vw;
  }
}
.restaurant .card .full-click {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
}
.restaurant .card-content {
  background-color: white;
  border-radius: 0 0 20px 20px;
  line-height: 50%;
  padding-left: 10px;
  margin: 0;
  position: relative;
  height: 80px;
}
.restaurant .card-content p {
  font-size: large;
}
.restaurant .card-content button {
  background-color: white;
  border: none;
  font-size: 30px;
  position: absolute;
  right: 5%;
  bottom: 30%;
  cursor: pointer;
  z-index: 2;
}
.restaurant .card-content button::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 400;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 32px;
}
.restaurant .card-content button:active::after {
  font-weight: 900;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
.restaurant .card .label {
  background-color: #99E2D0;
  color: #32b091;
  font-weight: bold;
  position: absolute;
  right: 3%;
  top: 5%;
  padding: 10px 15px;
}

main header {
  padding: 0 20px;
}
main .illustration img {
  object-fit: cover;
  width: 100vw;
  height: 25vh;
}
main .menu {
  background-color: #F6F6F6;
  border-radius: 20px 20px 0 0;
  position: relative;
  top: -20px;
}
@media (min-width: 768px) {
  main .menu {
    text-align: center;
  }
}
main .menu header {
  justify-content: flex-start;
}
@media (min-width: 768px) {
  main .menu header {
    justify-content: center;
  }
}
main .menu header h1 {
  font-family: "Shrikhand";
}
main .menu header button {
  right: 4%;
  left: auto;
  background-color: inherit;
  font-size: 30px;
}
main .menu header button::after {
  font-family: "Font Awesome 5 Free";
  content: "\f004";
  font-weight: 400;
  position: absolute;
  top: 5%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 32px;
}
main .menu header button:active::after {
  font-weight: 900;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
@media (min-width: 992px) {
  main .menu .menu-container {
    display: flex;
    justify-content: space-around;
  }
}
main .menu .menu-container .starters {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
main .menu .menu-container .starters h2 {
  font-weight: normal;
  font-size: smaller;
  position: relative;
  margin-bottom: 20px;
}
main .menu .menu-container .starters h2::before {
  content: "";
  position: absolute;
  bottom: -25%;
  background-color: #99E2D0;
  height: 2px;
  width: 35px;
}
main .menu .menu-container .card-dish {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0 50px 0 10px;
  position: relative;
  position: relative;
}
@media (min-width: 992px) {
  main .menu .menu-container .card-dish {
    padding: 0;
    width: 29vw;
  }
}
main .menu .menu-container .card-dish h3, main .menu .menu-container .card-dish p {
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 1s;
  margin: 8px;
}
main .menu .menu-container .card-dish p:last-child {
  position: absolute;
  right: 5%;
  bottom: 0%;
  font-weight: bold;
  transition: 1s;
}
@media (min-width: 992px) {
  main .menu .menu-container .card-dish p:last-child {
    position: relative;
    right: 0;
  }
}
main .menu .menu-container .card-dish .full-click {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
}
main .menu .menu-container .card-dish::after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-weight: 900;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  transition: 1s;
  transform: rotate(1turn);
  text-align: center;
  vertical-align: middle;
}
main .menu .menu-container .card-dish:hover::after {
  width: 50px;
}
main .menu .menu-container .card-dish:hover, main .menu .menu-container .card-dish:hover p, main .menu .menu-container .card-dish:hover h3 {
  padding-right: 50px;
}
main .menu .menu-container .main-courses {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
main .menu .menu-container .main-courses h2 {
  font-weight: normal;
  font-size: smaller;
  position: relative;
  margin-bottom: 20px;
}
main .menu .menu-container .main-courses h2::before {
  content: "";
  position: absolute;
  bottom: -25%;
  background-color: #99E2D0;
  height: 2px;
  width: 35px;
}
main .menu .menu-container .card-dish {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0 50px 0 10px;
  position: relative;
  position: relative;
}
@media (min-width: 992px) {
  main .menu .menu-container .card-dish {
    padding: 0;
    width: 29vw;
  }
}
main .menu .menu-container .card-dish h3, main .menu .menu-container .card-dish p {
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 1s;
  margin: 8px;
}
main .menu .menu-container .card-dish p:last-child {
  position: absolute;
  right: 5%;
  bottom: 0%;
  font-weight: bold;
  transition: 1s;
}
@media (min-width: 992px) {
  main .menu .menu-container .card-dish p:last-child {
    position: relative;
    right: 0;
  }
}
main .menu .menu-container .card-dish .full-click {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
}
main .menu .menu-container .card-dish::after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-weight: 900;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  transition: 1s;
  transform: rotate(1turn);
  text-align: center;
  vertical-align: middle;
}
main .menu .menu-container .card-dish:hover::after {
  width: 50px;
}
main .menu .menu-container .card-dish:hover, main .menu .menu-container .card-dish:hover p, main .menu .menu-container .card-dish:hover h3 {
  padding-right: 50px;
}
main .menu .menu-container .desserts {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
main .menu .menu-container .desserts h2 {
  font-weight: normal;
  font-size: smaller;
  position: relative;
  margin-bottom: 20px;
}
main .menu .menu-container .desserts h2::before {
  content: "";
  position: absolute;
  bottom: -25%;
  background-color: #99E2D0;
  height: 2px;
  width: 35px;
}
main .menu .menu-container .card-dish {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 0 50px 0 10px;
  position: relative;
  position: relative;
}
@media (min-width: 992px) {
  main .menu .menu-container .card-dish {
    padding: 0;
    width: 29vw;
  }
}
main .menu .menu-container .card-dish h3, main .menu .menu-container .card-dish p {
  font-size: medium;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  transition: 1s;
  margin: 8px;
}
main .menu .menu-container .card-dish p:last-child {
  position: absolute;
  right: 5%;
  bottom: 0%;
  font-weight: bold;
  transition: 1s;
}
@media (min-width: 992px) {
  main .menu .menu-container .card-dish p:last-child {
    position: relative;
    right: 0;
  }
}
main .menu .menu-container .card-dish .full-click {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0;
}
main .menu .menu-container .card-dish::after {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-weight: 900;
  color: white;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
  border-radius: 0 10px 10px 0;
  background-color: #99E2D0;
  transition: 1s;
  transform: rotate(1turn);
  text-align: center;
  vertical-align: middle;
}
main .menu .menu-container .card-dish:hover::after {
  width: 50px;
}
main .menu .menu-container .card-dish:hover, main .menu .menu-container .card-dish:hover p, main .menu .menu-container .card-dish:hover h3 {
  padding-right: 50px;
}
main .menu .order-confirmation {
  padding: 50px 20px;
  text-align: center;
}
main .menu .order-confirmation button {
  background: radial-gradient(ellipse at top left, #FF79DA, #9356DC);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: bold;
}
@media (min-width: 768px) {
  main .menu .order-confirmation button {
    width: 100%;
  }
}
