// variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

* {
    font-family: 'Roboto';
}

body {
    margin: auto;
}

header {
    background-color: lightcoral;
}

main {
    background-color: lightgreen;
}

// header
header {
    text-align: center;
}

header img {
    width: 50%;
}

// footer
footer {
    background-color: #474747;
    color: white;
    padding: 20px 20px;
}

footer img {
    filter: invert(100%);
    width: 80px;
}

footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

footer li {
    padding: 5px 0;
}

footer i {
    padding-right: 10px;
    width: 10px;
    font-size: 10px;
    text-align: center;
}

// localisation
.localisation {
    background-color: darken($color: lightgray, $amount: 5%);
    text-align: center;
    padding: 15px 0;
}

input {
    outline: none;
    border: none;
    background-color: darken($color: lightgray, $amount: 5%);
}

.fa-map-marker-alt {
    padding-right: 10px;
}


// exploration
.exploration {
    background-color: lightgray;
    text-align: center;
    padding: 30px;
}

h1 {
    margin: 0;
}

.exploration button {
    background: radial-gradient(ellipse at top left, $color-secondary, $color-primary);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
}

