// variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #F6F6F6;
$section-padding: 20px;
$card-radius: 20px;

// mixin
@mixin button-round {
    background: radial-gradient(ellipse at top left, $color-secondary, $color-primary);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
}

@mixin menu-section-layout {
    display: flex;
    flex-direction: column;
    padding: $section-padding;
    h2 {
        font-weight: normal;
        font-size: smaller;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: -25%;
            background-color: $color-tertiary;
            height: 2px;
            width: 35px;
        }
    } 
}

@mixin menu-card-layout {
    background-color: white;
    border-radius: $card-radius;
    margin-bottom: 20px;
    line-height: 50%;
    padding: 0px 10px;
    position: relative;
    h3 {
        font-size: medium;
    }
    p:last-child {
        position: absolute;
        right: 5%;
        bottom: 0%;
        font-weight: bold;
    }
}


* {
    font-family: 'Roboto';
}

body {
    margin: auto;
}

// header
header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $section-padding;
    position: relative;
    img {
        width: 65%;
    }
    button {
        font-size: 24px;
        border: none;
        background-color: white;
        position: absolute;
        left: 3%;
    }
}

// footer
footer {
    background-color: #353535;
    color: white;
    padding: $section-padding;
    img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(17deg) brightness(103%) contrast(105%);
    width: 80px;
    }
    ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    }
    li {
    padding: 5px 0;
    }
    i {
    padding-right: 10px;
    width: 10px;
    font-size: 10px;
    text-align: center;
    }
}

// localisation
.localisation {
    background-color: darken($color: $color-grey, $amount: 5%);
    text-align: center;
    padding: $section-padding;
    input {
    outline: none;
    border: none;
    background-color: inherit;
    }
    i {
    padding-right: 10px;
    }
}


// exploration
.exploration {
    background-color: $color-grey;
    text-align: center;
    padding: $section-padding;
    h1 {
    margin: 0;
    }
    button {
    @include button-round;
    }
}

// functioning
.functioning {
    padding: $section-padding;
    nav {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        button {
            background-color: $color-grey;
            padding: 10px 0px;
            margin: 15px 0;
            border: none;
            border-radius: $card-radius;
            box-shadow: 0px 0px 10px 5px rgba(242, 242, 242, 1);
            display: flex;
            align-items: center;
            transition-duration: 0.5s;
            &:hover {
                background: rgba($color-primary, 0.2);
                & > i {
                    color: $color-primary;
                    // effect on icon when hover button
                }
            }
            i {
                font-size: 16px;
                color: darken($color: $color-grey, $amount: 50%);
                padding: 10px ;
                width: 30px;
            }
            span {
                position: relative;
                left: -15px;
                border-radius: 50%;
                background-color: $color-primary;
                padding: 8px;
                width: 10px;
                height: 10px;
                color: white;
                text-align: center;
                vertical-align: middle;
            }
            p {
                flex-grow: 1;
                text-align: left;
            }
        }
    }
}

// restaurants
.restaurant {
    background-color: $color-grey;
    padding: $section-padding;
    img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    .card {
    display: flex;
    flex-direction: column;
    border-radius: $card-radius;
    margin-bottom: 20px;
    position: relative;
    height: 30vh;
    min-height: 250px;
        &-content {
            background-color: white;
            border-radius: 0 0 20px 20px;
            line-height: 50%;
            padding-left: 10px;
            margin: 0;
            position: relative;
            height: 80px;
            p {
                font-size: large;
            }
            button {
                background-color: white;
                border: none;
                font-size: 30px;
                position: absolute;
                right: 5%;
                bottom: 30%;
                cursor: pointer;
                &:active .fa-heart {
                        font-weight: 900;
                        background: linear-gradient(to top, $color-secondary, $color-primary);
                        background-clip: text;
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        transition-duration: 0.5s;
                }
            }
        }
        .label {
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 30%);
            font-weight: bold;
            position: absolute;
            right: 3%;
            top: 5%;
            padding: 10px 15px;
        }
    }
}

// menu
.illustration {
    img {
        object-fit: cover;
        width: 100vw;
        height: 25vh;
    }
}

.menu {
    background-color: $color-grey;
    border-radius: $card-radius;
    
    header {
        justify-content: flex-start;
        h1 {
            font-family: 'Shrikhand';
        }
        button {
            right: 3%;
            left: auto;
            background-color: inherit;
        }
    }
    .starters {
        @include menu-section-layout;
        .card-dish {
            @include menu-card-layout;
        }
    }
    .main-courses {
        @include menu-section-layout;
        .card-dish {
            @include menu-card-layout;
        }
    }
    .desserts {
        @include menu-section-layout;
        .card-dish {
            @include menu-card-layout;
        }
    }
    .order-confirmation {
        padding: 50px 0px;
        text-align: center;
        button {
        @include button-round;
        }
    }
}

