// variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #F6F6F6;
$section-padding: 20px;
$card-radius: 20px;

* {
    font-family: 'Roboto';
}

body {
    margin: auto;
}

// header
header {
    text-align: center;
    padding: $section-padding;
    img {
        width: 50%;
    }
}

// footer
footer {
    background-color: #353535;
    color: white;
    padding: $section-padding;
    img {
    filter: invert(100%);
    width: 80px;
    }
    ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    }
    li {
    padding: 5px 0;
    }
    i {
    padding-right: 10px;
    width: 10px;
    font-size: 10px;
    text-align: center;
    }
}

// localisation
.localisation {
    background-color: darken($color: $color-grey, $amount: 5%);
    text-align: center;
    padding: $section-padding;
    input {
    outline: none;
    border: none;
    background-color: darken($color: $color-grey, $amount: 5%);
    }
    i {
    padding-right: 10px;
    }
}


// exploration
.exploration {
    background-color: $color-grey;
    text-align: center;
    padding: $section-padding;
    h1 {
    margin: 0;
    }
    button {
    background: radial-gradient(ellipse at top left, $color-secondary, $color-primary);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
    }
}

// functioning
.functioning {
    padding: $section-padding;
    nav {
        display: flex;
        flex-direction: column;
        button {
            background-color: $color-grey;
            padding: 10px 0px;
            margin: 15px 0;
            border: none;
            border-radius: $card-radius;
            box-shadow: 0px 0px 10px 5px rgba(242, 242, 242, 1);
            display: flex;
            align-items: center;
            &:hover {
                background: rgba($color-primary, 0.2);
                & > i {
                    color: $color-primary;
                }
            }
            i {
                font-size: 16px;
                color: darken($color: $color-grey, $amount: 50%);
                padding: 10px ;
                width: 30px;
            }
            span {
                position: relative;
                left: -15px;
                border-radius: 50%;
                background-color: $color-primary;
                padding: 8px;
                width: 10px;
                height: 10px;
                color: white;
                text-align: center;
                vertical-align: middle;
            }
            p {
                flex-grow: 1;
                text-align: left;
            }
        }
    }
}

// restaurants
.restaurant {
    background-color: $color-grey;
    padding: $section-padding;
    img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    // .card-container {
    //     background-color: blue;
    // }
    .card {
    display: flex;
    flex-direction: column;
    border-radius: $card-radius;
    margin-bottom: 20px;
    position: relative;
    height: 30vh;
    min-height: 250px;
        &-content {
            background-color: white;
            border-radius: 0 0 20px 20px;
            line-height: 50%;
            padding-left: 10px;
            margin: 0;
            position: relative;
            height: 80px;
            p {
                font-size: large;
            }
            #heart {
                opacity: 0;
                & + label {
                    font-size: 24px;
                    position: absolute;
                    right: 5%;
                    bottom: 45%;
                }
                &:checked + label {
                    font-family: "Font Awesome 5 Free";
                    content: "\f004";
                    font-weight: 900;
                    background: linear-gradient(to top, $color-secondary, $color-primary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            button {
                background-color: white;
                border: none;
                font-size: 24px;
                position: absolute;
                right: 5%;
                bottom: 45%;
                &::before {
                    font-family: "Font Awesome 5 Free";
                    content: "\f004";
                    font-weight: 900;
                    background: linear-gradient(to top, $color-secondary, $color-primary);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    
                }
                &:active > p {
                    color: red;
                    
                }

            }
        }
        .label {
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 30%);
            font-weight: bold;
            position: absolute;
            right: 3%;
            top: 5%;
            padding: 10px 15px;
        }
    }
}