// variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$section-padding: 20px;

* {
    font-family: 'Roboto';
}

body {
    margin: auto;
}

// header
header {
    text-align: center;
    padding: $section-padding;
    img {
        width: 50%;
    }
}

// footer
footer {
    background-color: #474747;
    color: white;
    padding: $section-padding;
    img {
    filter: invert(100%);
    width: 80px;
    }
    ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    }
    li {
    padding: 5px 0;
    }
    i {
    padding-right: 10px;
    width: 10px;
    font-size: 10px;
    text-align: center;
    }
}

// localisation
.localisation {
    background-color: darken($color: lightgray, $amount: 5%);
    text-align: center;
    padding: $section-padding;
    input {
    outline: none;
    border: none;
    background-color: darken($color: lightgray, $amount: 5%);
    }
    i {
    padding-right: 10px;
    }
}


// exploration
.exploration {
    background-color: lightgray;
    text-align: center;
    padding: $section-padding;
    h1 {
    margin: 0;
    }
    button {
    background: radial-gradient(ellipse at top left, $color-secondary, $color-primary);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
    }
}

// functioning
.functioning {
    padding: $section-padding;
    nav {
        display: flex;
        flex-direction: column;
        button {
            background-color: lightgray;
            padding: 30px;
            margin: 15px 0;
            border: none;
            border-radius: 20px;
            box-shadow: 0px 0px 10px 5px rgba(242, 242, 242, 0.75);
            &:hover {
                background: rgba($color-primary, 0.7);
            }
        }
        i {
            font-size: 16px;
            color: darken($color: lightgray, $amount: 50%);
            &:hover {
            color: $color-primary;
            }
        }
    }
}

// restaurants
.restaurant {
    background-color: lightgray;
    padding: $section-padding;
    img {
        object-fit: cover;
        height: 70%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
    }
    // .card-container {
    //     background-color: blue;
    // }
    .card {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 250px;
        &-content {
            background-color: white;
            border-radius: 0 0 20px 20px;
            line-height: 50%;
            padding-left: 10px;
            position: relative;
            height: 30%;
            p {
                font-size: large;
            }
            button {
                background-color: white;
                border: none;
                position: absolute;
                right: 5%;
                bottom: 45%;
            }
            i {
                font-size: 24px;
                &:active {
                    color: $color-primary;
                }
            }
        }
        .label {
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 30%);
            font-weight: bold;
            position: absolute;
            right: 3%;
            top: 5%;
            padding: 10px 15px;
        }
    }
}