button {
    cursor: pointer;
}

.button-round {
    background: radial-gradient(ellipse at top left, $color-secondary, $color-primary);
    color: white;
    border: none;
    border-radius: 30px;
    padding: 15px 20px;
    font-weight: bold;
}

.button-heart {
    background-color: white;
    border: none;
    font-size: 30px;
    cursor: pointer;
    @include button-heart-filling;
    // make the button clickable because of overlay effect
    z-index: 1;
}