// localisation
.localisation {
    background-color: darken($color: $color-grey, $amount: 5%);
    text-align: center;
    padding: $section-padding;
    &__input {
    outline: none;
    border: none;
    background-color: inherit;
    }
    &__icon {
    padding-right: 10px;
    }
}


// exploration
.exploration {
    text-align: center;
    padding: $section-padding;
    &__title {
    margin: 0;
    }
}


// functioning
.functioning {
    padding: $section-padding;
    background-color: white;
    &__nav {
        display: flex;
        flex-direction: column;
        padding-left: 15px;
        @media (min-width: 768px) {
            flex-direction: row;
            justify-content: space-between;
        }
        @media (min-width: 992px) {
            padding-left: 0;
        }
    }
}

.nav__button {
    background-color: $color-grey;
    padding: 10px 0px;
    margin: 15px 0;
    border: none;
    border-radius: $card-radius;
    box-shadow: 0px 0px 10px 5px rgba(242, 242, 242, 1);
    display: flex;
    align-items: center;
    transition-duration: 0.4s;
    @media (min-width: 768px) {
        width: 28vw;
    }
    @media (min-width: 992px) {
        flex-direction: column;
    }
    &:hover {
        background: rgba($color-primary, 0.2);
        box-shadow: 0px 0px 10px 10px rgba(225, 225, 225, 1);
        & > i {
            // effect on icon when hover button
            color: $color-primary;   
        }
    }
}

.nav__icon {
    font-size: 16px;
    color: darken($color: $color-grey, $amount: 50%);
    padding: 10px ;
    width: 30px;
    @media (min-width: 992px) {
        font-size: 32px;
    }
}

.nav__sticker {
    position: relative;
    left: -15px;
    border-radius: 50%;
    background-color: $color-primary;
    padding: 8px;
    width: 10px;
    height: 10px;
    color: white;
    text-align: center;
    vertical-align: middle;
    @media (min-width: 992px) {
        left: 0;
        top: -30px;
    }
}


// restaurants
.restaurant {
    padding: $section-padding;
    @media (min-width: 768px) {
        &__card-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__card {
    display: flex;
    flex-direction: column;
    border-radius: $card-radius;
    margin-bottom: 20px;
    position: relative;
    height: 30vh;
    min-height: 250px;
    @media (min-width: 768px) {
        width: 45vw;
    }
        &--link {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0;
        }
        &--label {
            background-color: $color-tertiary;
            color: darken($color: $color-tertiary, $amount: 30%);
            font-weight: bold;
            position: absolute;
            right: 3%;
            top: 5%;
            padding: 10px 15px;
        }
        &--image {
            object-fit: cover;
            height: 70%;
            width: 100%;
            border-radius: 20px 20px 0px 0px;
        }
        .card__content {
            background-color: white;
            border-radius: 0 0 20px 20px;
            line-height: 50%;
            padding-left: 10px;
            margin: 0;
            position: relative;
            height: 80px;
            .card__text {
                font-size: large;
            }
            .card__button {
                background-color: white;
                border: none;
                font-size: 30px;
                position: absolute;
                right: 5%;
                bottom: 30%;
                cursor: pointer;
                // make the button clickable because of overlay effect
                z-index: 1;
            }
        }
    }
}


// loader
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    animation: slide-to-bottom 1s 2s ease forwards;
    // prevent interaction until the end of animation
    z-index: 2;
    &__loader {
        cursor: wait;
        position: fixed;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        border: 5px solid $color-primary;
        border-top: 5px solid $color-secondary;
        border-radius: 50%;
        padding: 30px;
        animation: rotation 0.8s ease 2;
        opacity: 0;
    }
}

