// menu
main {
    header {
        padding: 0 20px;
    }
    .illustration {
        img {
            object-fit: cover;
            width: 100vw;
            height: 25vh;
        }
    }
    .menu {
        background-color: $color-grey;
        border-radius: 20px 20px 0 0;
        position: relative;
        top: -20px;
        @media (min-width: 768px) {
            text-align: center;
        }
        header {
            justify-content: flex-start;
            @media (min-width: 768px) {
                justify-content: center;
            }
            h1 {
                font-family: 'Shrikhand';
            }
            button {
                right: 4%;
                left: auto;
                background-color: inherit;
                font-size: 30px;
                @include button-heart-filling;
            }
        }
        .menu-container {
            @media (min-width: 992px) {
            display: flex;
            justify-content: space-around;
            }
            @each $class in $menu-section-list {
                .#{$class} {
                    @include menu-section-layout;
                    @for $i from 1 through 3 {
                        &:nth-child(#{$i}) {
                            opacity: 0;
                            animation: appear 0.7s $i * (0.5s) forwards;
                        }
                    }
                }
                .#{card-dish} {
                    // @include menu-card-layout;
                    cursor: pointer;
                  
                    overflow: hidden;

                    // height: 10vh;
                    // &::after {
                    //     font-family: "Font Awesome 5 Free";
                    //     content: "\f058";
                    //     font-weight: 900;
                    //     color: white;
                    //     position: absolute;
                    //     right: 0;
                    //     top: 0;
                    //     bottom: 0;
                    //     width: 0px;
                    //     // padding: 20px;
                    //     overflow: hidden;
                    //     border-radius: 0 10px 10px 0;
                    //     background-color: $color-tertiary;
                    //     transition: 1s;
                    //     text-align: center;
                    //     vertical-align: middle;
                    // }
                    // &:hover::after {
                    //     width: 50px;
                    //     // transform: rotate(1turn);
                    // }
                    // &:hover, &:hover p, &:hover h3 {
                    //     padding-right: 50px;
                    // }
                    // h3, p {
                    //     font-size: medium;
                    //     text-overflow: ellipsis;
                    //     overflow: hidden;
                    //     white-space: nowrap;
                    //     transition: 1s;
                    //     // to prevent overflow-y being hidden if using line-height property
                    //     margin: 8px; 
                    // }
                    background-color: white;
                    border-radius: $card-radius;
                    margin-bottom: 20px;
                    padding: 0 0 0 10px;
                    display: flex;
                    align-items: center;
                    // position: relative;
                    @media (min-width: 992px) {
                        padding: 0;
                        width: 29vw;
                    }
                    .card-content {
                        font-size: medium;
                        text-align: left;
                        overflow: hidden;
                        flex: 1;
                        h3, p {
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            // to prevent overflow-y being hidden if using line-height property
                            margin: 8px; 
                        }
                    }
                    .price {
                        align-self: flex-end;
                        font-weight: bold;
                        padding: 0 20px;
                        transition: 1s;
                        // @media (min-width: 992px) {
                        //     position: relative;
                        //     right: 0;
                        // }
                    }
                    .validation-box {
                        background-color: $color-tertiary;
                        color: white;
                        padding: 25px;
                        margin-right: -70px;
                        transition: 0.6s;
                        i {
                            transition: 0.5s;
                        }
                    }
                    &:hover > .validation-box{
                        margin-right: 0;
                    }
                    &:hover i {
                        transform: rotate(1turn);
                    }
                }
            }
        }
        .order-confirmation {
            padding: 50px 20px;
            text-align: center;
            button {
            @include button-round;
            @media (min-width: 768px) {
                width: 100%;
            }
            }
        }
    }
}