// menu
.header {
    // link to home page
    &__button, &__link {
        font-size: 24px;
        border: none;
        background-color: inherit;
        position: absolute;
        left: 3%;
        color: black;
    }
}

.illustration {
        &__image {
            object-fit: cover;
            width: 100vw;
            height: 25vh;
        }
}

.menu {
    background-color: $color-grey;
    border-radius: 20px 20px 0 0;
    position: relative;
    top: -20px;
    @media (min-width: 768px) {
        text-align: center;
    }
    &__header {
        padding: $section-padding;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        @media (min-width: 768px) {
            justify-content: center;
        }
        &--title {
            font-family: 'Shrikhand';
            // prevent title overlapping heart in very small resolution
            margin-right: 16px;
        }
        &--button {
            position: absolute;
            right: 4%;
        }
    }
    &__container {
        @media (min-width: 992px) {
        display: flex;
        justify-content: space-around;
        }
    }
}

.card__dish {
    cursor: pointer;
    overflow: hidden;
    background-color: white;
    border-radius: $card-radius;
    margin-bottom: 20px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    .card__content {
        text-align: left;
        overflow: hidden;
        flex: 1;
    }
    .card__title, .card__text {
        font-size: medium;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        // reduce margin to prevent overflow-y being hidden if using line-height property
        margin: 8px; 
    }
    .card__price {
        align-self: flex-end;
        font-weight: bold;
        padding: 0 20px;
        transition: 1s;
    }
    &:active > .validation-box {
        // for appearance
        margin-right: 0;
    }
    &:active .validation-box__icon {
        transform: rotate(1turn);
    }
    @media (min-width: 992px) {
        padding: 0;
        width: 29vw;
        &:hover > .validation-box {
            // for appearance
            margin-right: 0;
        }
        &:hover .validation-box__icon {
            transform: rotate(1turn);
        }
    }
}

.validation-box {
    background-color: $color-tertiary;
    color: white;
    padding: 25px;
    transition: 0.4s;
    // for hiding
    margin-right: -70px;
    &__icon {
        transition: 0.5s;
    }
}

// DRY, apply menu card layout to all dish card
@each $class in $menu-section-list {
    .#{$class} {
        display: flex;
        flex-direction: column;
        padding: 10px 20px;
        &__title {
            font-weight: normal;
            font-size: smaller;
            position: relative;
            margin-bottom: $card-padding;
            &::before {
                // underline
                content: "";
                position: absolute;
                bottom: -25%;
                background-color: $color-tertiary;
                height: 2px;
                width: 35px;
            }
        } 
    }
}

// dishes delay appearance animation
.menu__container > * {
    @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
            animation: appear 0.7s $i * (0.5s) both;
        }
    }
}

.order-confirmation {
    padding: 0px 20px 60px 20px;
    text-align: center;
    &__button {
    @media (min-width: 768px) {
        width: 70vw;
    }
    }
}