

// main
// loader
// main {
//     &::before {
//         content: "";
//         background-color: black;
//         position: fixed;
//         top: 0;
//         left: 0;
//         bottom: 0;
//         right: 0;
//         z-index: 10;
//         // to make the entire screen dark
//         animation: loader-background 9s forwards;
//     }

// //     &::after {
// //         content: "";
// //         cursor: wait;
// //         position: fixed;
// //         top: 50%;
// //         bottom: 50%;
// //         left: 50%;
// //         right: 50%;
// //         z-index: 4;
// //         border: 5px solid $color-primary;
// //         border-top: 5px solid $color-secondary;
// //         border-radius: 50%;
// //         padding: 30px;
// //         animation: loading 0.8s 1s ease 2;
// //         opacity: 0;
// //     }
// }
@keyframes loading {
    0% {
        opacity: 1;
    }
    100% {
        transform: rotate(1turn);
        opacity: 1;
        
    }
}

@keyframes slide-to-bottom {
    100% {
        transform: translateY(100%);
    }
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 2;
    animation: slide-to-bottom 1s 2s ease forwards;
    .loader {
        cursor: wait;
        position: fixed;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        z-index: 10;
        border: 5px solid $color-primary;
        border-top: 5px solid $color-secondary;
        border-radius: 50%;
        padding: 30px;
        animation: loading 0.8s ease 2;
        opacity: 0;
    }
}

