@keyframes rotation {
    0% {
        opacity: 1;
    }
    100% {
        transform: rotate(1turn);
        opacity: 1;
        
    }
}

@keyframes slide-to-bottom {
    100% {
        transform: translateY(100%);
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}