// variables
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-grey: #F6F6F6;
$section-padding: 20px;
$card-padding: 20px;
$card-radius: 20px;
$menu-section-list: starters main-courses desserts;