// footer
.footer {
    background-color: #353535;
    color: white;
    padding: $section-padding;
    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
    &__image {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(17deg) brightness(103%) contrast(105%);
    width: 80px;
    @media (min-width: 768px) {
        order: 0;
        width: 300px;
    }
    }
    &__list {
    list-style: none;
    padding-left: 0;
    margin: 0;
    @media (min-width: 768px) {
        order: 1;
        margin-right: 50px;
    }
    }
    &__list-item {
    padding: 5px 0;
        a {
            color: white;
            text-decoration: none;
        }
    }
    &__icon {
    padding-right: 10px;
    width: 10px;
    font-size: 10px;
    text-align: center;
    }
}