// header
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $section-padding;
    position: relative;
    &__image {
        width: 65%;
        max-width: 600px;
    }
}